<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{{title}}</title>
    <meta name="description" content="{{content}}">

    <link rel="icon" type="image/png" href="/images/favicon.png" />

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/admin.css">

    <!-- TinyMCE -->
     <script src="https://cdn.tiny.cloud/1/3v62o268mu5zxtepisq9d6ujmp8bfiu63ylvpu7d57cgdgxl/tinymce/5/tinymce.min.js" referrerpolicy="origin"></script>

</head>

<body>

    {{> admin/display_admin }}

    {{> admin/menu_admin }}

    {{> admin/admin_mobile }}

    {{> admin/modal/modal_admin_delete }}

    <!-- Modal Add -->
    {{> admin/modal/modal_add_article }}
    {{> admin/modal/modal_add_galerie }}
    {{> admin/modal/modal_add_membre }}
    {{> admin/modal/modal_add_projet }}
    {{> admin/modal/modal_add_video }}

    <!-- js icons -->
    <script src="/vendor/icons/9d1d83a1dd.js"></script>

    <!-- Bootstrap JS -->
    <script src="/vendor/jquery/jquery-3.5.1.slim.min.js"></script>
    <script src="/vendor/bootstrap/js/popper.min.js"></script>
    <script src="/vendor/bootstrap/js/bootstrap.min.js"></script>

    <!-- Js perso -->
    <script src="/admin/js/index.js"></script>
    <script src="/admin/js/add.js"></script>
    <script src="/admin/js/edit_delete.js"></script>

    <script>

    // Permet de voir le membre dans le modal -->
    {{#each membres}}

            $('#deleteMembre-' + '{{_id}}').click(function() {

                DeleteMembre('{{_id}}', '{{lastname}}', '{{firstname}}');

            });

            $('#deleteMembreMob-' + '{{_id}}').click(function() {

                DeleteMembre('{{_id}}', '{{lastname}}', '{{firstname}}');

            });

            $(document).ready(function() {
            $('input[id="isBanned_{{_id}}"]').click(function() {
            if ($(this).is(":checked")) {
            $('#lab_ban_{{_id}}').html('Privé')
            $('#isBanned_{{_id}}"]').attr('checked', true);
            } else if ($(this).is(":not(:checked)")) {
            $('#lab_ban_{{_id}}').html('En ligne')
            $('#isBanned_{{_id}}"]').attr('checked', false);
            }
            });
            });

    {{/each}}

    // Permet de voir l'article dans le modal  -->
    {{#each articles}}

            $('#deleteArticle-' + '{{_id}}').click(function() {

               DeleteArticle('{{_id}}', '{{title}}');

            });

            $('#deleteArticleMobile-' + '{{_id}}').click(function() {

               DeleteArticle('{{_id}}', '{{title}}');

            });

            $(document).ready(function() {
                $('input[id="isPrivate2_{{_id}}"]').click(function() {
                    if ($(this).is(":checked")) {
                        $('#lab_priv2_{{_id}}').html('Privé')
                        $('#isPrivate2_{{_id}}').attr('checked', true);
                    } else if ($(this).is(":not(:checked)")) {
                        $('#lab_priv2_{{_id}}').html('En ligne')
                        $('#isPrivate2_{{_id}}').attr('checked', false);
                    }
                });
            });


    {{/each}}

    // Permet de voir le projet dans le modal  -->
    {{#each projets}}

            $('#deleteProjet-' + '{{_id}}').click(function() {

               DeleteProjet('{{_id}}', '{{title}}');

            });

            $('#deleteProjetMobile-' + '{{_id}}').click(function() {

               DeleteProjet('{{_id}}', '{{title}}');

            });

            $(document).ready(function() {
                $('input[id="isPrivate4_{{_id}}"]').click(function() {
                    if ($(this).is(":checked")) {
                        $('#lab_proj2_{{_id}}').html('Privé')
                        $('#isPrivate4_{{_id}}').attr('checked', true);
                    } else if ($(this).is(":not(:checked)")) {
                        $('#lab_proj2_{{_id}}').html('En ligne')
                        $('#isPrivate4_{{_id}}').attr('checked', false);
                    }
                });
            });

    {{/each}}

    {{#each tutos}}

            $('#deleteYoutube-' + '{{_id}}').click(function() {

               DeleteYoutube('{{_id}}', '{{title}}');

            });

            $('#deleteYoutubeMobile-' + '{{_id}}').click(function() {

               DeleteYoutube('{{_id}}', '{{title}}');

            });

            $(document).ready(function() {
                $('input[id="isPrivate6_{{_id}}"]').click(function() {
                    if ($(this).is(":checked")) {
                        $('#lab_vid2_{{_id}}').html('Privé')
                        $('#isPrivate6_{{_id}}').attr('checked', true);
                    } else if ($(this).is(":not(:checked)")) {
                        $('#lab_vid2_{{_id}}').html('En ligne')
                        $('#isPrivate6_{{_id}}').attr('checked', false);
                    }
                });
            });

    {{/each}}

    {{#each galeries}}

            $('#deleteGalerie-' + '{{_id}}').click(function() {

               DeleteGalerie('{{_id}}', '{{title}}');

            });

            $('#deleteGalerieMobile-' + '{{_id}}').click(function() {

               DeleteGalerie('{{_id}}', '{{title}}');

            });

            $(document).ready(function() {
                $('input[id="isPrivate8_{{_id}}"]').click(function() {
                    if ($(this).is(":checked")) {
                        $('#lab_img2_{{_id}}').html('Privé')
                        $('#isPrivate8_{{_id}}').attr('checked', true);
                    } else if ($(this).is(":not(:checked)")) {
                        $('#lab_img2_{{_id}}').html('En ligne')
                        $('#isPrivate8_{{_id}}').attr('checked', false);
                    }
                });
            });

    {{/each}}

    {{#each comments}}

            $('#deleteComment-' + '{{_id}}').click(function() {

               DeleteComment('{{_id}}', '{{author}}');

            });

            $('#deleteCommentMobile-' + '{{_id}}').click(function() {

               DeleteComment('{{_id}}', '{{author}}');

            });

    {{/each}}

    </script>

    ​{{> notifications}}

</body>

</html>