<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{{#if title}}{{title}}{{else}}Portfolio de Gaëtan Seigneur{{/if}}</title>
    <meta name="description" content="{{#if content}}{{content}}{{else}}Mon portfolio professionnel, retrouvé ici mes compétences, les derniers articles de mon blog, mes tutoriels et tant d'autres choses.{{/if}}">
    <link rel="icon" type="image/png" href="/images/favicon.png" />

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/css/style.css">

    {{!-- <script>
            jQuery(window).on('load', function () {
    (function ($) {
        $.get( "/", function( data ) {
    $( "#loader" ).html( data );

    });
    })(jQuery);
    });
    </script> --}}

</head>

<body>

<div id="loader"></div>    

{{> header}}

{{> navbar}}

{{{body}}}

​{{> notifications}}

​{{> footer}}

<!-- Loader -->
<script>

    function preloaderFadeOutInit(){
        $('#tuto_cards').delay(500).fadeIn(500);
        $('#connaissances').delay(1000).fadeIn(500);
        $('#projet').delay(1500).fadeIn(500);
        $('#widget_1').delay(2000).fadeIn(500);
        $('#widget_2').delay(2500).fadeIn(500);
    }

    jQuery(window).on('load', function () {
    (function ($) {
        preloaderFadeOutInit();
    })(jQuery);
    });

</script>

</body>