<div class="w-100 p-4">
        <div class="row justify-content-center">
            <div class="article-head" style="background: url('{{artID.image}}');">
                <div class="article-body">
                    <div class="article-avatar mr-20">
                        <img src="../{{artID.avatar}}"
                            alt="{{artID.author}}" class="rounded-circle ml-5">
                    </div>
                    <div class="article-author">
                        <div><i class="fas fa-user ml-3"></i><span>Posté par {{artID.author}}</span></div>
                        <div><i class="far fa-calendar-alt ml-3"></i><span>Le {{generateDate artID.dateCreate}}</span></div>
                        <div><i class="far fa-comment ml-3"></i><span>{{ countArray artID.comment }} Commantaire(s)</span></div>
                    </div>
                </div>
            </div>

            <div class="article">
                <div class="article-title">
                    <p><i class="fas fa-tag ml-3"></i>{{artID.title}}</p>
                </div>

                <hr>

                <div class="article-content">
                    {{{artID.content}}}
                </div>

                <hr>

                <div class="article-social">
                    <p>Partager cet article</p>
                    <a class="ml-3" href="" data-toggle="tooltip" data-placement="top" title="Partager sur Facebook"><i
                            class="fab fa-facebook-square"></i></a>
                    <a class="ml-3" href="" data-toggle="tooltip" data-placement="top" title="Partager sur Twitter"><i
                            class="fab fa-twitter-square"></i></a>
                    <a href="" data-toggle="tooltip" data-placement="top" title="Partager sur Instagram"><i
                            class="fab fa-instagram-square"></i></a>
                </div>

                <hr>

                <div class="article-comment">
                
                    <p class="comment-count">Commentaire(s) {{countArray artID.comment }}</p>

                    {{#each artID.comment }}
                    <div class="box-comment" id="comment">    
                        <div class="comment-profil">
                            <img src="{{avatar}}"
                                alt="{{author}}" class="rounded-circle ml-3">

                            <div class="comment-author">
                                <span>{{author}}</span>
                                <p class="comment-date">
                                    <span>Le {{generateDate dateCreate}}</span>
                                </p>
                            </div>
                        </div>

                        <div class="comment-content mt-3">
                            {{{content}}}
                        </div>
                    </div>
                    {{/each}}

                </div>

                <div class="box-reply">

                    <p class="reply-title">Poster un commentaire</p>    

                    {{#if users}}

                    <p class="reply-sub">Commentaire :</p>

                    <form id="form_reply" action="create/{{artID._id}}" method="POST">
                        <textarea class="mt-n2" rows="8" required name="content"></textarea>

                        <button type="submit" class="btn btn-form-send mt-3">Poster le commentaire</button>
                    </form>

                    {{else}}

                    <p class="reply-sub">Vous devez être connecté pour poster un commentaire.</p>

                    {{/if}}
                </div>

            </div>
        </div>
    </div>

    {{> modal/modal}}