<div class="w-100 p-4">
        <div class="row justify-content-center">
            <div class="col-md-3">
                <p class="title-h">Mon blog personnel</p>
                <hr class="h-2 bg-light">
            </div>
        </div>
    </div>

    <!-- Card Article -->
    <section>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="row">

                        {{#each articles }}
                            <!-- Card Article {{_id}} -->
                            <div class="col-md-4 mt-3" style="{{#if isPrivate }}display: none;{{else}}{{/if}}">
                                <div class="card">
                                    <div class="card-header card-header-f">
                                        <img src="../{{avatar}}"
                                            alt="{{author}}" class="rounded-circle w-20">
                                        <div class="d-inline-block mr-2 position-relative card-profil">
                                            <span><i class="far fa-user ml-2" aria-hidden="true"></i>{{author}}</span>
                                            <span class="d-block"><i class="far fa-calendar-alt ml-2"
                                                    aria-hidden="true"></i>Le {{generateDate dateCreate}}</span>
                                            <span class="d-block"><i class="far fa-comment ml-1"></i> {{countArray comment}}
                                                commentaire(s)</span>
                                        </div>
                                    </div>
                                    <div class="card-header p-0">
                                        <img class="card-img-top w-100" src="{{image}}"
                                            alt="{{title}}">
                                    </div>
                                    <div class="card-body card-body-blog">
                                        <h5 class="card-title">{{title}}</h5>
                                        <p class="card-text" style="overflow: hidden; max-height: 97px;">{{{trimString content}}}</p>
                                    </div>
                                    <div class="card-footer">
                                        <div class="card-btn"><a href="/article/{{_id}}" class="btn btn-cards">Lire la suite</a></div>
                                    </div>
                                </div>
                            </div>
                        {{/each}}

                        {{{pagination}}}

                    </div>
                </div>
            </div>
        </div>
    </section>

    {{> modal/modal}}

    {{#if users}}
        {{> modal/modal_user}}
    {{/if}}