<section>
    <div class="w-100 mt-2 p-4">
        <div class="row justify-content-center">
            <div class="col-md-7">
                <p class="title-h">Mes tutoriels sur Youtube</p>
                <hr class="h-2 bg-light">
            </div>
        </div>
    </div>

    <div id="tuto_cards" class="container">
        <div class="row">
            <div class="col-md-12">

                <div class="btn-group dropright">
                    <button type="button" class="btn btn-dropcat dropdown-toggle" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">
                        Trier par catégorie
                    </button>

                    <!-- Liste JQUERY Trie par Catégorie -->
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="" id="phpCat">PHP</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="" id="htmlCat">HTML</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="" id="cssCat">CSS</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="" id="sassCat">SASS</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="" id="jsCat">JS</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="" id="nodejsCat">NODE JS</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="" id="mongodbCat">MONGODB</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="" id="mysqlCat">MYSQL</a>
                    </div>

                </div>

                <div class="row" id="allCat">

                    <!-- Boucle pour afficher les tutoriels youtube sous forme de card -->
                    {{#each (limit tutos 12)}}
                    <div class="col-md-4 mt-2" style="{{#if isPrivate }}display: none;{{else}}{{/if}}">
                        <div class="card">
                            <iframe class="card-img-top card-yt" src="https://www.youtube.com/embed/{{api}}"
                                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                                allowfullscreen></iframe>
                            <div class="card-body">
                                <h5 class="card-title">{{title}}</h5>
                                <p class="card-text">{{content}}</p>
                            </div>
                            <div class="card-footer">
                                <div class="card-date"><i class="far fa-calendar-alt"></i> <span>{{date}}</span></div>
                                <div class="card-btn"><a href="{{links}}" class="btn btn-cards-yt">Voir la vidéo</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    {{/each}}

                    <!-- Pagination -->
                    {{{pagination}}}
                </div>

                <!-- Permet d'afficher les résultats une foit le trie fait avec la liste JQUERY -->
                <div class="row" id="resuCat" style="display: none;">{{tutosCat}}</div>
            </div>
        </div>
    </div>
</section>

<!-- Modal utilisateur INSCRIPTION, CONNEXION, MOT DE PASSE PERDU -->
{{> modal/modal}}

<!-- Modal qui permet de modifier les informations de l'utilisateur à tout moment -->
{{#if users}}
{{> modal/modal_user}}
{{/if}}