<div class="container">
    <div class="row">
        <div class="col-sm-2">
            <div class="nav-mob">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item dropdown">
                        <a class="btn btn-nav btn-mob nav-link dropdown-toggle" href="#" id="navbarDropdown"
                            role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                            <i class="fab fa-accusoft"></i>
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="/"><i class="fas fa-home"></i>Accueil</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="/#connaissances"><i
                                    class="far fa-comment"></i>Connaissances</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="/#projet"><i class="fas fa-tag"></i>Projet</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="/#language"><i class="fab fa-html5"></i>Language</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="/#galerie"><i class="far fa-image"></i>Galerie</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="/#tuto"><i class="fab fa-youtube"></i>Tuto</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="/blog"><i class="far fa-newspaper"></i>Actu &
                                Dev</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="#contact"><i class="fas fa-reply"></i>Contact</a>
                            {{#if admin}}
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="/admin"><i class="fas fa-user-cog"></i>Admin</a>
                            {{/if}}
                            {{#if users}} 
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="/user/logout">Déconnexion | {{ gaet.firstname }}</a>
                            {{else}}
                            <div class="dropdown-divider"></div>
                            <a href="#" class="dropdown-item" data-toggle="modal" data-target="#membres"><i
                                    class="fas fa-user"></i>Connexion</a>
                            {{/if}}
                        </div>
                    </li>

                    <li>
                        <div class="header-search header-search-mob" style="display: inline-block;">
                            <i class="fas fa-search"></i>
                            <input type="text" class="form-control" placeholder="Faites votre recherche" aria-label="search" id="inputSearch2" onkeyup="searchFunctionMobile()">
                            <ul class="searchKey searchKey2" id="searchKey2">
                            {{#each articles}}
                                <li><a href="article/{{_id}}" title="{{title}}">{{title}}</a></li>
                            {{/each}}
                            </ul>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>