<!-- Section 5 -->
<section>
        <div class="w-100 mt-2 p-4" id="tuto">
            <div class="row justify-content-center">
                <div class="col-md-7">
                    <p class="title-h">Les tutos Youtube</p>
                    <hr class="h-2 bg-light">
                </div>
            </div>
        </div>

        <div id="tuto_cards" class="container" style="display: none;">
            <div class="row">
                <div class="col-md-12">
                    <div class="row">
                        {{#each (limit tutos 6)}}
                        <div class="col-md-4 mt-2" style="{{#if isPrivate }}display: none;{{else}}{{/if}}">
                            <div class="card">
                                <iframe class="card-img-top card-yt" src="https://www.youtube.com/embed/{{api}}" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                                <div class="card-body">
                                    <h5 class="card-title">{{title}}</h5>
                                    <p class="card-text">{{content}}</p>
                                </div>
                                <div class="card-footer">
                                    <div class="card-date"><i class="far fa-calendar-alt"></i> <span>{{date}}</span></div>
                                    <div class="card-btn"><a href="{{links}}" class="btn btn-cards-yt">Voir la vidéo</a></div>
                                </div>
                            </div>
                        </div>
                        {{/each}}

                        <div class="container">
                            <div class="row">
                                <div class="col-md-12 text-center mt-5">
                                    <a href="/tutoriel" class="btn btn-cards-yt-all">Voir toute les vidéos</a>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Section 5 -->