<!-- Modal Admin Modifier une image  -->
 <div class="modal fade" id="modif_galerie_{{galerie._id}}" tabindex="-1" role="dialog" aria-hidden="true">
     <div class="modal-dialog modal-dialog-centered" role="document">
         <div class="modal-content">
             <div class="modal-header">
                 <h5 class="modal-title" id="ModalLabelEditGalerie">Modifier une vidéo Youtube</h5>
                 <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                     <span aria-hidden="true">&times;</span>
                 </button>
             </div>
             <form method="POST" action="/admin/editGalerie/{{galerie._id}}" enctype="multipart/form-data">
                 <div class="modal-body">

                     <div class="form-group">
                         <label class="text-dark mb-2">Titre de l'image</label>
                         <input type="text" class="form-control mb-2" name="title" value="{{galerie.title}}"
                             placeholder="Titre de l'image">
                     </div>

                     <div class="form-group">
                         <label class="text-dark mb-2">Image</label>
                         <input type="file" class="form-control mb-2" id="imageGaleries_{{_id}}" name="image" onchange="updateImageDisplay7_{{_id}}()" accept=".png, .jpg, .jpeg, .gif" placeholder="Image de la galerie">

                        <div class="text-center">
                            <img src="{{galerie.image}}" style="width: 440px;">
                        </div>
                     </div>

                     <div class="preview5" id="preview7_{{_id}}">
                        <p>Aucun fichier sélectionné pour le moment</p>
                    </div>

                     <div class="form-group text-center">
                        <div class="switch_box box_1">
                            <label class="text-dark mb-2">Image privé ?</label>
                            <div>
                                <input type="checkbox" class="switch_1" name="isPrivate" id="isPrivate8_{{galerie._id}}">
                            </div>
                            <label class="text-dark mb-2" id="lab_img2_{{galerie._id}}">En ligne</label>
                        </div>
                    </div>

                 </div>

                 <div class="modal-footer">
                     <button type="button" class="btn btn-form-reset" data-dismiss="modal">Fermer</button>
                     <button type="submit" class="btn btn-form-send">Valider</button>
                 </div>

                 <script>
                     // Upload image edit projet
                    var input7_{{_id}} = document.querySelector('#imageGaleries_{{_id}}');
                    var preview7_{{_id}} = document.querySelector('#preview7_{{_id}}');

                    function updateImageDisplay7_{{_id}}() {
                        while (preview7_{{_id}}.firstChild) {
                            preview7_{{_id}}.removeChild(preview7_{{_id}}.firstChild);
                        }

                        var curFiles7_{{_id}} = input7_{{_id}}.files;
                        if (curFiles7_{{_id}}.length === 0) {
                            var para = document.createElement('p');
                            para.textContent = 'Aucun fichier actuellement sélectionné pour le téléchargement';
                            preview7.appendChild(para);
                        } else {
                            for (var i = 0; i < curFiles7_{{_id}}.length; i++) {
                                var para = document.createElement('p');
                                if (validFileType(curFiles7_{{_id}}[i])) {
                                    para.textContent = curFiles7_{{_id}}[i].name + ', taille du fichier ' + returnFileSize(curFiles7_{{_id}}[i].size) + '.';
                                    var image_{{_id}} = document.createElement('img');
                                    image_{{_id}}.setAttribute('style', 'width: 440px;')
                                    image_{{_id}}.src = window.URL.createObjectURL(curFiles7_{{_id}}[i]);

                                    preview7_{{_id}}.appendChild(image_{{_id}});
                                    preview7_{{_id}}.appendChild(para);

                                } else {
                                    para.textContent = 'Nom du fichier ' + curFiles7_{{_id}}[i].name + ": Ce n'est pas un type de fichier valide. Mettez à jour votre image.";
                                    preview7_{{_id}}.appendChild(para);
                                }
                            }
                        }
                    }
                 </script>
             </form>
         </div>
     </div>
 </div>
 <!-- Modal Admin Modifier une image -->