<!-- Modal Admin Modifier un projet -->
 <div class="modal fade" id="modif_projet_{{projet._id}}" tabindex="-1" role="dialog" aria-hidden="true">
     <div class="modal-dialog modal-dialog-centered" role="document">
         <div class="modal-content">
             <div class="modal-header">
                 <h5 class="modal-title" id="ModalLabelModifProjet">Modifier le projet</h5>
                 <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                     <span aria-hidden="true">&times;</span>
                 </button>
             </div>
             <form method="POST" enctype="multipart/form-data" action="/admin/editProjet/{{projet._id}}">
                 <div class="modal-body">
                     <div class="form-group">
                         <label class="text-dark mb-2">Image du projet</label>
                         <input type="text" class="form-control mb-2" name="image" value="{{projet.image}}"
                             placeholder="Image du projet">
                     </div>

                     <div class="form-group">
                         <label class="text-dark mb-2">Titre du projet</label>
                         <input type="text" class="form-control mb-2" name="title" value="{{projet.title}}"
                             placeholder="Titre du projet">
                     </div>

                     <div class="form-group">
                         <label class="text-dark mb-2">Date du projet</label>
                         <input type="text" class="form-control mb-2" name="date" value="{{generateDate projet.dateCreate}}">
                     </div>

                     <div class="form-group">
                         <label class="text-dark mb-2">Description du projet</label>
                         <textarea rows="10" class="form-control mb-2" name="content"
                             placeholder="Description du projet">{{projet.content}}</textarea>
                     </div>

                     <div class="form-group text-center">
                        <div class="switch_box box_1">
                            <label class="text-dark mb-2">Projet privé ?</label>
                            <div><input type="checkbox" class="switch_1" name="isPrivate" id="isPrivate4_{{projet._id}}"  ></div>
                            <label class="text-dark mb-2" id="lab_proj2_{{projet._id}}">En ligne</label>
                        </div>
                    </div>

                 </div>

                 <div class="modal-footer">
                     <button type="button" class="btn btn-form-reset" data-dismiss="modal">Fermer</button>
                     <button type="submit" class="btn btn-form-send">Valider</button>
                 </div>
             </form>
         </div>
     </div>
 </div>
 <!-- Modal Admin Modifier un projet -->