<div style="display: none;" id="blog">

    <div>
        <p class="text-center">Liste des articles blog du site internet</p>
    </div>

    <div style="margin: 0 0px 0px 23px;">
        <div class="row">
            <div class="col-md-12">
                <table class="table table-hover table-dark text-center">
                    <thead>
                        <tr>
                            <th scope="col">Image</th>
                            <th scope="col" style="width: 28%;">Titre</th>
                            <th scope="col" style="width: 15%;">Date de création</th>
                            <th scope="col" style="width: 11%;">Commentaire</th>
                            <th scope="col" style="width: 11%;">Article Privé</th>
                            <th scope="col" style="width: 39%">Description de l'article</th>
                            <th scope="col" style="width: 10%;">Gestion</th>
                        </tr>
                    </thead>
                    <tbody>
                        {{#each articles}}
                        <tr>
                            <th class="th-perso"><img width="97px;" src="{{image}}"></th>
                            <td class="th-perso">{{title}}</td>
                            <td class="th-perso">{{generateDate dateCreate}}</td>
                            <td class="th-perso">{{comment}}</td>
                            <td class="th-perso">{{isPrivate}}</td>
                            <td class="table-content th-perso">{{trimString content}}</td>
                            <td class="th-perso"><a id="editArticle-{{_id}}" href="" data-toggle="modal"
                                    data-target="#modif_article"><i class="fas fa-edit ml-2" data-toggle="tooltip"
                                        data-placement="left" title="Editer l'article"></i></a>
                                <a href="" id="deleteArticle-{{_id}}" data-toggle="modal" data-target="#deleteModal"><i
                                        class="fas fa-trash" data-toggle="tooltip" data-placement="left"
                                        title="Supprimer l'article"></i></a>
                            </td>
                        </tr>
                        {{/each}}
                    </tbody>
                </table>

                {{{pagin2}}}
            </div>
        </div>
    </div>
</div>