<div style="display: none;" id="blog">

    <div>
        <p class="text-center">Liste des articles blog du site internet</p>
    </div>

    <div style="margin: 0 0px 0px 23px;">
        <div class="row">
<<<<<<< HEAD
            <div class="col-md-8 m-auto">
=======
            <div class="col-md-12">
>>>>>>> origin/dev
                <table class="table table-hover table-dark text-center">
                    <thead>
                        <tr>
                            <th scope="col">Image</th>
<<<<<<< HEAD
                            <th scope="col">Titre</th>
                            <th scope="col">Date de création</th>
                            <th scope="col">Commentaire</th>
                            <th scope="col">Article Privé</th>
                            <th scope="col">Gestion</th>
=======
                            <th scope="col" style="width: 28%;">Titre</th>
                            <th scope="col" style="width: 15%;">Date de création</th>
                            <th scope="col" style="width: 11%;">Commentaire</th>
                            <th scope="col" style="width: 11%;">Article Privé</th>
                            <th scope="col" style="width: 29%">Description de l'article</th>
                            <th scope="col" style="width: 10%;">Gestion</th>
>>>>>>> origin/dev
                        </tr>
                    </thead>
                    <tbody>
                        {{#each articles}}
                        <tr>
                            <th class="th-perso"><img width="97px;" src="{{image}}"></th>
                            <td class="th-perso">{{title}}</td>
                            <td class="th-perso">{{generateDate dateCreate}}</td>
                            <td class="th-perso">{{countArray comment }}</td>
                            <td class="th-perso">{{#if isPrivate}}Article privé{{else}}Article public{{/if}}</td>
<<<<<<< HEAD
=======
                            <td class="table-content th-perso">{{trimString content}}</td>
>>>>>>> origin/dev
                            <td class="th-perso"><a href="" data-toggle="modal"
                                    data-target="#modif_article_{{_id}}"><i class="fas fa-edit ml-2" data-toggle="tooltip"
                                        data-placement="left" title="Editer l'article"></i></a>
                                <a href="" id="deleteArticle-{{_id}}" data-toggle="modal" data-target="#deleteModal"><i
                                        class="fas fa-trash" data-toggle="tooltip" data-placement="left"
                                        title="Supprimer l'article"></i></a>
                            </td>
                        </tr>

                        {{> admin/modal/modal_edit_article article=this }}

                        {{/each}}
                    </tbody>
                </table>

<<<<<<< HEAD
                {{{paginationComment}}}
=======
                {{{pagin6}}}
>>>>>>> origin/dev
            </div>
        </div>
    </div>
</div>