<div style="display: none;" id="comment">

    <div>
        <p class="text-center">Liste des commentaires blog du site internet</p>
    </div>

    <div style="margin: 0 0px 0px 23px;">
        <div class="row">
            <div class="col-md-8 m-auto">
                <table class="table table-hover table-dark text-center">
                    <thead>
                        <tr>
                            <th scope="col">Avatar</th>
                            <th scope="col">Autheur</th>
                            <th scope="col">Date de création</th>
                            <th scope="col">Commentaire</th>
                            <th scope="col">Gestion</th>
                        </tr>
                    </thead>
                    <tbody>
                        {{#each comments}}
                        <tr>
                            <th class="th-perso" style="vertical-align: middle;"><img width="97px;" src="../../../avatar/{{avatar}}"></th>
                            <th class="th-perso" style="vertical-align: middle;">{{author}}</th>
                            <td class="th-perso" style="vertical-align: middle;">{{generateDate dateCreate}}</td>
                            <td class="table-content th-perso" style="vertical-align: middle;">{{content}}</td>
                            <td class="th-perso"  style="vertical-align: middle;"><a id="editComment-{{_id}}" href="" data-toggle="modal"
                                    data-target="#modif_comment"><i class="fas fa-edit ml-2" data-toggle="tooltip"
                                        data-placement="top" title="Editer le commentaire"></i></a>
                                <a href="" id="deleteComment-{{_id}}" data-toggle="modal" data-target="#deleteModal"><i
                                        class="fas fa-trash" data-toggle="tooltip" data-placement="top"
                                        title="Supprimer le commentaire"></i></a>
                            </td>
                        </tr>
                        {{/each}}
                    </tbody>
                </table>

                {{{pagin6}}}
            </div>
        </div>
    </div>
</div>