<div id="membres">
  <div>
    <p class="text-center">
      Liste des membres du site internet
    </p>
  </div>
  <div style="margin: 0 0px 0px 23px;">
    <div class="row">
      <div class="col-md-12 table-responsive">
        <table class="table table-hover table-dark text-center">
          <thead>
            <tr>
              <th scope="col">
                id
              </th>
              <th scope="col">
                Nom et Prénom
              </th>
              <th scope="col">
                Adresse email
              </th>
              <th scope="col">
                Rang
              </th>
              <th scope="col">
                Date d'inscription
              </th>
              <th scope="col">
                Gestion
              </th>
            </tr>
          </thead>
          <tbody>
            {{#each membres}}
              <tr>
                <th class="th-perso">
                  {{_id}}
                </th>
                <td class="th-perso">
                  {{lastname}}
                  {{firstname}}
                </td>
                <td class="th-perso">
                  {{email}}
                </td>
                <td class="th-perso">
                  {{#if isAdmin}}
                    Administrateur
                  {{else}}
                    Membre
                  {{/if}}
                </td>
                <td class="th-perso">
                  {{generateDate createDate}}
                </td>
                <td class="th-perso">
                  <a href="" data-toggle="modal" data-target="#modif_membre_{{_id}}"><i class="fas fa-user-edit ml-2" data-toggle="tooltip" data-placement="left" title="Editer le membre"></i></a>
                  {{#if isAdmin}}

                  {{else}}
                    <a id="deleteMembre-{{_id}}" href="" data-toggle="modal" data-target="#deleteModal"><i class="fas fa-trash" data-toggle="tooltip" data-placement="left" title="Supprimer un membre"></i></a>
                  {{/if}}
                </td>
              </tr>

              {{> admin/modal/modal_edit_membre user=this }}

            {{/each}}
          </tbody>
        </table>
        {{{pagin}}}
      </div>
    </div>
  </div>
</div>