<!-- Menu -->
<div class="mask-menu2">
        <a id="btn_menu2" href="" title="Afficher le menu"><i class="far fa-eye"></i></a> 
</div>


<div class="container-menu-left fixed-top" id="menu">

    <div class="mask-menu">
        <a id="btn_menu" href="" title="Masquer le menu"><i class="fas fa-times"></i></a> 
    </div>

    <div class="card-profil">
        <div class="m-auto text-center">
            <img src="../../../avatar/{{avatar}}"
                alt="Gaëtan Seigneur" width="117" class="rounded-circle mt-4">
        </div>

        <div class="m-auto text-center mt-3">
            <p><i class="fas fa-user-cog ml-1" aria-hidden="true"></i>{{name}}</p>
            <p><i class="fas fa-random ml-1" aria-hidden="true"></i>{{#if rang}}Administrateur{{else}}Membre{{/if}}</p>
            <p><i class="fas fa-sign-out-alt ml-1" aria-hidden="true"></i>Inscrit le : {{generateDate dateRegister}}</p>
            <p><i class="fas fa-sign-out-alt ml-1" aria-hidden="true"></i>Connexion le : {{generateDate dateLog}}</p>

            <hr>
        </div>

        <div class="m-auto text-center mt-3 menu-1">
            <div class="title-profil">Menu de configuration</div>
        </div>

        <div class="m-auto mt-3 menu-profil menu-1">
            <ul class="list-unstyled text-center">
                <li class="pb-2"><a href="/admin"><i class="fas fa-users ml-2" aria-hidden="true"></i>Liste des
                        membres</a></li>
                <li class="pb-2"><a href="/admin/articles" id="Blog"><i class="fas fa-pen-square ml-2" aria-hidden="true"></i>Mon blog
                        personnel</a></li>
                <li class="pb-2"><a href="/admin/youtubes"><i class="fab fa-youtube ml-2" aria-hidden="true"></i>Vidéos
                        youtube</a></li>
                <li class="pb-2"><a href=""><i class="far fa-image ml-2" aria-hidden="true"></i>Ma
                        galerie</a></li>
                <li class="pb-2"><a href="/admin/projets"><i class="fas fa-project-diagram ml-2"
                            aria-hidden="true"></i>Mes projets</a></li>
            </ul>
        </div>

        <hr>

        <div class="m-auto text-center mt-3">
            <div class="title-profil">Une idée un ajout, c'est ici.</div>
        </div>

        <div class="m-auto mt-3 menu-profil">
            <ul class="list-unstyled text-center">
                <li class="pb-2"><a href="" data-toggle="modal" data-target="#add_projet"><i
                            class="fas fa-pencil-alt ml-2" aria-hidden="true"></i>Ajouter un projet</a></li>
                <li class="pb-2"><a href="" data-toggle="modal" data-target="#add_article"><i class="fas fa-tag ml-2"
                            aria-hidden="true"></i>Ajouter un article blog</a></li>
                <li class="pb-2"><a href="" data-toggle="modal" data-target="#add_membres"><i class="fas fa-star ml-2"
                            aria-hidden="true"></i>Ajouter un nouveau membre</a></li>
                <li class="pb-2"><a href="" data-toggle="modal" data-target="#add_video"><i class="fab fa-youtube ml-2"
                            aria-hidden="true"></i>Ajouter un nouveau tuto</a></li>             
            </ul>
        </div>
    </div>
</div>
<!-- Menu -->